# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [160]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [161]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [162]:
sinasc_raw.groupby("munResNome")[["IDADEMAE","IDADEPAI"]].mean()

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.991826  29.548701
Alto Alegre dos Parecis    24.844156  29.179104
Alto Paraíso               24.960177  28.833333
Alvorada D'Oeste           25.770732  30.757282
Ariquemes                  25.607866  32.466667
Buritis                    25.559177  30.812500
Cabixi                     26.037500  34.333333
Cacaulândia                25.546667  36.333333
Cacoal                     26.890102  30.931854
Campo Novo de Rondônia     24.825301  30.500000
Candeias do Jamari         25.243323  29.894737
Castanheiras               27.281250  30.392857
Cerejeiras                 27.240506  31.652778
Chupinguaia                25.333333  29.629630
Colorado do Oeste          27.602804  34.354839
Corumbiara                 24.716535  32.470588
Costa Marques              24.412017  30.613636
Cujubim                    24.482927  31.400000
Espigão D'Oeste            26.093333  31.198113
Governador Jorge Teixeira  24.401786  29.222222
Guajará-Mirim              25.462228  30.470588
Itapuã do Oeste            26.064220  42.500000
Jaru                       25.982974  32.197183
Ji-Paraná                  26.361137  31.132239
Machadinho D'Oeste         25.480000  31.326923
Ministro Andreazza         27.904762  33.849315
Mirante da Serra           26.304878  32.154762
Monte Negro                25.648241  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   26.222222  30.520833
Nova Mamoré                25.326389  31.692308
Nova União                 26.894231  31.371429
Novo Horizonte do Oeste    26.938776  31.588235
Ouro Preto do Oeste        26.375594  31.233244
Parecis                    26.454545  32.473684
Pimenta Bueno              25.199675  29.745174
Pimenteiras do Oeste       25.075000  35.600000
Porto Velho                26.312670  32.352679
Presidente Médici          25.796053  30.150754
Primavera de Rondônia      27.023256  31.888889
Rio Crespo                 26.660000  28.000000
Rolim de Moura             26.600863  30.360479
Santa Luzia D'Oeste        26.121212  30.703297
Seringueiras               24.910714  30.500000
São Felipe D'Oeste         26.481481  31.395833
São Francisco do Guaporé   25.660066  31.638889
São Miguel do Guaporé      25.926346  32.666667
Teixeirópolis              26.031250  31.500000
Theobroma                  25.536082  30.083333
Urupá                      26.688235  31.008929
Vale do Anari              26.096774  34.000000
Vale do Paraíso            25.679012  29.976744
Vilhena                    26.433962  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [163]:
sinasc_raw[sinasc_raw["DTNASC"] == "2019-12-14"].groupby("ESCMAE")[["PESO"]].mean()

                        PESO
ESCMAE
1 a 3 anos       3092.500000
12 anos ou mais  3130.833333
4 a 7 anos       3262.222222
8 a 11 anos      3335.156250

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [164]:
sinasc_raw.groupby("munResNome")["IDADEMAE"].count().sort_values(ascending=True)

munResNome
Município ignorado - RO         1
Castanheiras                   32
Pimenteiras do Oeste           40
Primavera de Rondônia          43
Parecis                        44
Rio Crespo                     50
São Felipe D'Oeste             54
Teixeirópolis                  64
Cacaulândia                    75
Cabixi                         80
Vale do Paraíso                81
Ministro Andreazza             84
Vale do Anari                  93
Theobroma                      97
Novo Horizonte do Oeste        98
Santa Luzia D'Oeste            99
Nova União                    104
Itapuã do Oeste               109
Governador Jorge Teixeira     112
Corumbiara                    127
Alto Alegre dos Parecis       154
Chupinguaia                   162
Mirante da Serra              164
Campo Novo de Rondônia        166
Seringueiras                  168
Urupá                         170
Monte Negro                   199
Cujubim                       205
Alvorada D'Oeste              205
Colorado do Oeste             214
Alto Paraíso                  226
Costa Marques                 233
Cerejeiras                    237
Nova Brasilândia D'Oeste      261
São Francisco do Guaporé      303
Presidente Médici             304
Candeias do Jamari            337
São Miguel do Guaporé         353
Alta Floresta D'Oeste         367
Nova Mamoré                   432
Espigão D'Oeste               450
Machadinho D'Oeste            500
Buritis                       583
Pimenta Bueno                 616
Ouro Preto do Oeste           631
Guajará-Mirim                 781
Jaru                          881
Rolim de Moura                927
Cacoal                       1374
Vilhena                      1590
Ariquemes                    1729
Ji-Paraná                    2182
Porto Velho                  8437
Name: IDADEMAE, dtype: int64

In [165]:
sinasc_2 = sinasc_raw[sinasc_raw["munResNome"] == "Castanheiras"][["munResNome", "IDADEMAE", "IDADEPAI"]]
sinasc_2.groupby("munResNome").agg([('mín', 'min'), 'max', ('média','median')])

             IDADEMAE           IDADEPAI
                  mín max média      mín   max média
munResNome
Castanheiras       17  39  27.0     17.0  43.0  31.5

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [166]:
sinasc_raw.loc[:,'DTNASC'] = pd.to_datetime(sinasc_raw['DTNASC'])
sinasc_raw.set_index('DTNASC', inplace=True)
sinasc_raw['MÊS'] = sinasc_raw.index.month

C:\Users\Mimi Renno\AppData\Local\Temp\ipykernel_18908\432562933.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  sinasc_raw.loc[:,'DTNASC'] = pd.to_datetime(sinasc_raw['DTNASC'])

In [167]:
resultado = sinasc_raw[sinasc_raw["MÊS"] == 3].groupby("munResNome")["IDADEMAE"].count().reset_index()

In [174]:
resultado.rename({"IDADEMAE":"QTDBEBE"}, inplace = True, axis = 1)

In [184]:
resultado.sort_values(by = "QTDBEBE", ascending = True)

                   munResNome  QTDBEBE
46              Teixeirópolis        3
11               Castanheiras        4
31    Novo Horizonte do Oeste        5
38      Primavera de Rondônia        5
43         São Felipe D'Oeste        5
25         Ministro Andreazza        6
33                    Parecis        6
35       Pimenteiras do Oeste        6
6                      Cabixi        6
30                 Nova União        7
41        Santa Luzia D'Oeste        7
47                  Theobroma        8
21            Itapuã do Oeste        8
26           Mirante da Serra        9
39                 Rio Crespo        9
1     Alto Alegre dos Parecis       10
19  Governador Jorge Teixeira       10
7                 Cacaulândia       10
49              Vale do Anari       11
15                 Corumbiara       12
9      Campo Novo de Rondônia       13
50            Vale do Paraíso       13
48                      Urupá       14
12                 Cerejeiras       16
17                    Cujubim       17
13                Chupinguaia       18
14          Colorado do Oeste       19
42               Seringueiras       19
27                Monte Negro       20
28   Nova Brasilândia D'Oeste       20
3            Alvorada D'Oeste       22
2                Alto Paraíso       22
16              Costa Marques       24
37          Presidente Médici       29
44   São Francisco do Guaporé       31
0       Alta Floresta D'Oeste       31
10         Candeias do Jamari       33
45      São Miguel do Guaporé       41
24         Machadinho D'Oeste       44
18            Espigão D'Oeste       44
29                Nova Mamoré       53
5                     Buritis       59
34              Pimenta Bueno       62
32        Ouro Preto do Oeste       67
40             Rolim de Moura       69
20              Guajará-Mirim       75
22                       Jaru       80
8                      Cacoal      133
4                   Ariquemes      141
51                    Vilhena      148
23                  Ji-Paraná      188
36                Porto Velho      744

In [188]:
sinasc_3 = sinasc_raw[sinasc_raw["munResNome"] == "Teixeirópolis"][["munResNome", "IDADEMAE", "IDADEPAI","QTDFILVIVO"]]
sinasc_3.groupby("munResNome").agg([('mín', 'min'), 'max', ('média','median')])

              IDADEMAE           IDADEPAI             QTDFILVIVO
                   mín max média      mín   max média        mín  max média
munResNome
Teixeirópolis       16  39  26.0     20.0  67.0  29.5        0.0  6.0   1.0

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

Insight:
- O município com a menor taxa de natalidade apresenta uma notável proximidade entre as idades máximas e mínimas dos pais, com uma relativa homogeneidade na faixa etária. Em contraste, o município com a maior taxa de natalidade, Porto Velho, exibe uma disparidade significativa. Enquanto a idade máxima do pai atinge 60 anos, a qual contrasta acentuadamente com os 43 anos observados no município de menor incidência de nascimentos.

In [189]:
sinasc_2 = sinasc_raw[sinasc_raw["munResNome"] == "Porto Velho"][["munResNome", "IDADEMAE", "IDADEPAI"]]
sinasc_2.groupby("munResNome").agg([('mín', 'min'), 'max', ('média','median')])

            IDADEMAE           IDADEPAI
                 mín max média      mín   max média
munResNome
Porto Velho       12  47  26.0     16.0  65.0  32.0

In [190]:
sinasc_2 = sinasc_raw[sinasc_raw["munResNome"] == "Castanheiras"][["munResNome", "IDADEMAE", "IDADEPAI"]]
sinasc_2.groupby("munResNome").agg([('mín', 'min'), 'max', ('média','median')])

             IDADEMAE           IDADEPAI
                  mín max média      mín   max média
munResNome
Castanheiras       17  39  27.0     17.0  43.0  31.5

In [169]:
sinasc_raw.dtypes

ORIGEM          int64
CODESTAB      float64
CODMUNNASC      int64
LOCNASC         int64
IDADEMAE        int64
               ...
munResLat     float64
munResLon     float64
munResAlt     float64
munResArea    float64
MÊS             int64
Length: 69, dtype: object

In [170]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

,ESCMAE,GESTACAO,GRAVIDEZ,PARTO,SEXO,RACACOR,DTCADASTRO,CODANOMAL,VERSAOSIST,DTRECEBIM,munResStatus,munResTipo,munResNome,munResUf
DTNASC,,,,,,,,,,,,,,
2019-02-19,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,Masculino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2019-02-21,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2019-02-25,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2019-03-20,12 anos ou mais,37 a 41 semanas,Única,Cesáreo,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia
2019-03-23,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-13,12 anos ou mais,32 a 36 semanas,Única,Cesáreo,Masculino,Branca,2020-09-28,NaN,3.2.01,2020-10-13,ATIVO,MUNIC,Vilhena,Rondônia
2019-10-04,8 a 11 anos,37 a 41 semanas,Única,Vaginal,Masculino,Branca,2019-10-16,NaN,3.2.01,2019-10-21,ATIVO,MUNIC,Chupinguaia,Rondônia
2019-08-02,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,Masculino,Parda,2019-08-07,NaN,3.2.00,2019-08-07,ATIVO,MUNIC,Vilhena,Rondônia
2019-12-23,8 a 11 anos,32 a 36 semanas,Única,Vaginal,Masculino,Parda,2020-01-07,NaN,3.2.00,2020-01-07,ATIVO,MUNIC,Vilhena,Rondônia
2019-12-27,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,Masculino,Parda,2020-10-15,NaN,3.2.01,2020-10-16,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia

In [171]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'HORANASC', 'SEXO',
       'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea', 'MÊS'],
      dtype='object')